apiVersion: apps/v1
kind: Deployment
metadata:
  name: pavan-portfolio-deployment
  labels:
    app: pavan-portfolio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pavan-portfolio
  template:
    metadata:
      labels:
        app: pavan-portfolio
    spec:
      containers:
      - name: pavan-portfolio
        image: pavan-portfolio
        imagePullPolicy: Never # Use the local image built in Minikube
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "256Mi"
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: pavan-portfolio-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: pavan-portfolio-deployment
  minReplicas: 1
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
---
apiVersion: v1
kind: Service
metadata:
  name: pavan-portfolio-service
spec:
  type: ClusterIP
  selector:
    app: pavan-portfolio
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: pavan-portfolio-ingress
spec:
  rules:
  - host: pavan-portfolio.local
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: pavan-portfolio-service
            port:
              number: 80
